# Flow Control in Python

-Flow control in Python refers to the mechanisms that govern the order in which statements are instructions are executed. This is crucial for implementing logic in progress.
There are three type sof flow control:
- Conditional statement
- Loop Statement
- Control Statement

![image.png]()

## Conditional Statement

It helps you to code decisions based on some pre defined conditions / based on some conditions we will make some decisions.
- based on whether a condition is True or false, code take different paths

Conditional Statements are of four types:
- if statement
- if-else statement
- if-elif-else ladder
- nested-if-else

### if statements

It lets you run a block of code only when a certain condition is True. It means if the condition is false, the block will not execute any result.
- Syntax:
if condition True:
    print(Block will execute this part)
Indentation in print statement is must

In [ ]:
a=100
if a>=100:
    print(a)

100

In [ ]:
hungry=True
if hungry:
    print("Give me food")

Give me food

In [ ]:
hungry= False
if hungry:
    print("Not hungry") # no output because condition is not satisfied

In [ ]:
name="Prag"
if name=="Prag":
    print("Happy soul")

Happy soul

In [ ]:
weather="Rainy"
if weather=="Rainy":
    print("Use umbrella ☔")

Use umbrella ☔

#### Projects on If

In [ ]:
#Check even number
value=int(input("Enter any number : "))
if value%2==0:
    print("this is even no. ")

Enter any number : 56
this is even no.

In [ ]:
# temperature
temp=30
if temp>25:
    print(temp, " is a room temperature.")

30  is a room temperature.

In [ ]:
# Multiple condition in single line
name="Prag"
if (type(name)==str) & (len(name)==4):
    print("Perfect Name")

Perfect Name

In [ ]:
# Multiple condition in single line
name=input("Enter 1st 4 letter of your name : ")
if (type(name)==str) & (len(name)==4):
    print("Perfect Name")

Enter 1st 4 letter of your name : Prag
Perfect Name

### if-else statements

In real life decisions are made based on two conditions which can be complex. to ease this we use if-else statements.
- syntax
if condition:
    do something if condition is True
else:
    do something if condition is False

How it works?
- Check the if condition
- if its True, it will run If block
- if its False, it will run Else block

In [ ]:
age=18
if age>=18:
    print("You are eligible to vote.")
else :
    print("You are minor.")

You are eligible to vote.

In [ ]:
payment=True
if payment:
    print("Payment is successful.")
else:
    print("Transaction failed")

Payment is successful.

In [ ]:
payment=False
if payment:
    print("Payment is successful.")
else:
    print("Transaction failed")

Transaction failed

In [ ]:
marks=float(input("Enter your marks : "))
if 100>=marks>=45:
    print("PASS")
else :
    print("FAIL")

Enter your marks : 67
PASS

In [ ]:
# Even or Odd
number=int(input("Enter the number : "))
if number%2==0:
    print(number, " is Even no.")
else :
    print(number, " is Odd no.")

Enter the number : 876
876  is Even no.

### if-elif-else Statements

Sometime we have multiple conditions to check.
- Syntax
- if condition:
    if True run this block
- elif condition:
    if True run this block
- elif conditon
    if True run this block
- else :
    if NOTA True run this block

In [ ]:
marks=68
if marks>90:
    print("A")
elif marks>80:
    print("B")
elif marks>70:
    print("C")
elif marks>60:
    print("D")
else:
    print("Fail")

D

In [ ]:
temp=int(input("Enter the temperature in celcius : "))
if temp >= 35:
    print("It's HOT outside.")
elif temp >= 25:
    print("Nice whether")
elif 20<temp<25:
    print("Pleasant whether")
else:
    print("Very cold")

Enter the temperature in celcius : 23
Pleasant whether

### Nested if else Statements

It is used to put one if-else statements block inside other

In [ ]:
#Syntax
# if condition1:
#    if condition2:
#   else:
#else:

In [ ]:
Marks=int(input("Enter your marks out of 500 : "))
if Marks>=300:
    if Marks>=450:
        print("Passed with Distinction.")
    elif Marks>=400:
        print("Passed with Grade A.")
    elif Marks>=350:
        print("Passed with Grade B.")
    else :
        print("Just Passed")
else :
    print("FAIL")

Enter your marks out of 500 : 450
Passed with Distinction.